/**
 * A set of Tailwind inspired utility classes, to set colors and fonts.
 */
.font-serif {
  font-family: var(--font-serif);
}

.font-sans {
  font-family: var(--font-sans);
}

/** Text colors */
.text-blue {
  color: var(--blue);
}
.text-aqua {
  color: var(--aqua);
}
.text-yellow {
  color: var(--yellow);
}
.text-hover {
  color: var(--hover);
}

/** Background colors */
.bg-blue {
  background-color: var(--blue);
}
.bg-dusty-blue {
  background-color: var(--dusty-blue);
}
.bg-dusty-blue-light {
  background-color: var(--dusty-blue-light);
}
.bg-dusty-blue-lighter {
  background-color: var(--dusty-blue-lighter);
}
.bg-aqua {
  background-color: var(--aqua);
}
.bg-dusty-aqua {
  background-color: var(--dusty-aqua);
}
.bg-dusty-aqua-light {
  background-color: var(--dusty-aqua-light);
}
.bg-hover {
  background-color: var(--hover);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
